.section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 !important;
}

.section-title__text {
    margin-top: 20px;
}

/* Welcome Text */
.welcome-wrapper {
    margin: 20px auto;
    color: white;
}

.welcome__upper-text {
    margin: 0;
    font-size: 1.3rem;
}

.welcome__title {
    margin: 10px 0 10px 0;
}

.welcome__bottom-text {
    margin: 0 auto;
}


/* Navigate arrow (down) */
.down-arrow {
    margin: 10px 0;
}

@media screen and (min-width: 992px) {
    .welcome__title {
        font-size: 5rem;
    }

    .welcome__bottom-text {
        max-width: 60%;
    }
}

@media screen and (max-width: 992px) {
    .welcome__title {
        font-size: 3rem;
    }

    .welcome__bottom-text {
        max-width: 95%;
    }
}

/* Getting Started: Actions */

.start-actions {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.start-actions__action {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.start-actions__action__title {
    margin: 0 0 10px 0;
}

.start-actions__text {
    margin: 15px 0;
}

.start-actions__action__buttons > .btn {
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (min-width: 992px) {
    .start-actions__action {
        flex: 0 0 33%;
        padding: 20px;
    }

    .start-actions__action__title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 992px) {
    .start-actions__action {
        flex: 0 0 100%;
    }

    .start-actions__action__title {
        font-size: 1.5rem;
    }
}
