{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Create Order -- Django Hardware Store{% endblock %}


{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);

        {% if message %}
            M.toast({
                html: '{{ message }}',
                classes: 'green darken-2'
            });
        {% endif %}

        {% if errors %}
            M.toast({
                html: 'Please, select an option',
                classes: 'red darken-2'
            });
        {% endif %}
    });
</script>
{% endblock %}

{% block main %}
<main>
    <section class="section">
            <div class="container">
            <h1>Create order</h1>
            <div class="divider"></div>
            
            <form method="post" action="{% url 'orders:create' %}" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col s12 input-field">
                        {{ form.product }}
                    </div>
                    <div class="col s12 center">
                        <button class="btn-large red darken-2 waves-effect waves-light">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
